header.header a.site-title img {
  height: 1.5rem;
}

:root header {
  background: var(--sl-color-gray-6);

  @media screen and (min-width: 1140px) {
    background: inherit;
  }
}

:root[data-has-hero] div.page > header.header > div.header {
  background: var(--sl-color-gray-6);
}
