header.header a.site-title img {
  height: 1.5rem;
}

:root[data-has-sidebar] header {
  background: var(--sl-color-gray-6);
}

:root[data-has-hero] div.page > header.header > div.header {
  @media screen and (min-width: 1140px) {
    background: var(--sl-color-gray-6);
  }
}
