* {
  scrollbar-width: thin;
  scrollbar-color: var(--sl-color-orange) transparent;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: var(--sl-color-orange);
  border-radius: 2px;
}
